* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  user-select: none;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

:root {
  --heading: #33373e;
  --primary: #f11a7b;
  --background: #fff0f5;
}

/* hamburger menu started */

.navbar {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.911);
  position: fixed;
  top: 0;
  right: -100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.8s cubic-bezier(0, 0, 0, 1);
}

.change {
  right: 0;
}

.hamburger-menu {
  width: 35px;
  height: 30px;
  /* background-color: red; */
  position: fixed;
  top: 50px;
  right: 50px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.line {
  width: 34px;
  height: 3px;
  background-color: white;
  transition: all 0.8s;
}

.change .line1 {
  transform: rotateZ(-405deg) translate(-8px, 6px);
}

.change .line2 {
  opacity: 0;
}

.change .line3 {
  transform: rotateZ(405deg) translate(-8px, -6px);
}

.nav-list {
  text-align: center;
}

.nav-item {
  list-style: none;
  margin: 90px;
}

.nav-link {
  /* border: 1px solid #f00; */
  text-decoration: none;
  font-size: 5vw;
  color: #eee;
  font-weight: 300;
  letter-spacing: 2px;
  position: relative;
  padding: 10px 0;
}

.nav-link::before,
.nav-link::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--primary);
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.nav-link::after {
  bottom: 10px;
  transform-origin: left;
}

.nav-link::before {
  top: 10px;
  transform-origin: right;
}

.nav-link:hover::before,
.nav-link:hover::after {
  transform: scaleX(1);
}

/* hamburger menu ended */

h1 {
  color: var(--heading);
}

a {
  text-decoration: none;
  color: black;
}

/*? women-dresses-collection started */
#women-dresses-collection {
  /* border: 1px solid #000; */
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;

  display: flex;
  align-items: center;
  justify-content: center;
}

#women-dresses-collection a {
  /* border: 1px solid #000; */
  background-image: url(../shop-img/Women\ Dresses\ Collection.webp);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#women-dresses-collection a h1 {
  background-color: #00000057;
  /* border: 1px solid #000; */
  color: #ffffff;
  font-size: 7vw;
  font-weight: 500;
  padding: 10px 50px;
  margin-right: 3%;
  text-align: left;
}
/*` women-dresses-collection ended */

/*? women-dresses-collection started */
#bags-and-accessories {
  /* border: 1px solid #000; */
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

#bags-and-accessories a {
  /* border: 1px solid #000; */
  background-image: url(../shop-img/Bags\ &\ Accessories.webp);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#bags-and-accessories a h1 {
  background-color: #00000057;
  /* border: 1px solid #000; */
  /* width: 700px; */
  color: #ffffff;
  font-size: 6vw;
  font-weight: 500;
  padding: 10px 50px;
  margin-left: 6%;
  text-align: left;
}
/*` women-dresses-collection ended */

/*? men-dresses-collection started */
#men-dresses-collection {
  /* border: 1px solid #000; */
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

#men-dresses-collection a {
  /* border: 1px solid #000; */
  background-image: url(../shop-img/men-dresses-collection.webp);
  background-position: 100%;
  background-size: cover;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#men-dresses-collection a h1 {
  background-color: #00000057;
  /* border: 1px solid #000; */
  color: #ffffff;
  font-size: 7vw;
  font-weight: 500;
  padding: 10px 50px;
  margin-left: 6%;
  text-align: left;
}
/*` men-dresses-collection ended */

/*? Jewelry started */
#jewelry {
  /* border: 1px solid #000; */
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

#jewelry a {
  /* border: 1px solid #000; */
  background-image: url(../shop-img/Jewelry.webp);
  background-position: 60%;
  background-size: cover;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#jewelry a h1 {
  background-color: #00000057;
  /* border: 1px solid #000; */
  color: #ffffff;
  font-size: 10vw;
  font-weight: 500;
  padding: 10px 50px;
  margin-left: 6%;
  margin-top: -10%;
  text-align: center;
}
/*` Jewelry ended */

/*? Beauty & Fragrances started */
#beauty-and-fragrances {
  /* border: 1px solid #000; */
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

#beauty-and-fragrances a {
  /* border: 1px solid #000; */
  background-image: url(../shop-img/Beauty\ &\ Fragrances.webp);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#beauty-and-fragrances a h1 {
  background-color: #00000057;
  /* border: 1px solid #000; */
  /* width: 550px; */
  color: #ffffff;
  font-size: 6vw;
  font-weight: 500;
  padding: 10px 50px;
  margin-left: 6%;
  margin-top: -10%;
  text-align: left;
}
/*` Beauty & Fragrances ended */

/*? Watches started */
#watches {
  /* border: 1px solid #000; */
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

#watches a {
  /* border: 1px solid #000; */
  background-image: url(../shop-img/Watches.webp);
  background-position: 80%;
  background-size: cover;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#watches a h1 {
  background-color: #00000057;
  /* border: 1px solid #000; */
  color: #ffffff;
  font-size: 10vw;
  font-weight: 500;
  padding: 10px 50px;
  margin-left: 6%;
  margin-top: 50vh;
  text-align: left;
}
/*` Watches ended */
