* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  user-select: none;
  scroll-behavior: smooth;
}

:root {
  --heading: #33373e;
  --primary: #f11a7b;
  --background: #fff0f5;
}

h1 {
  color: var(--heading);
}

a {
  text-decoration: none;
  color: black;
}

.fa-arrow-up {
  /* border: 1px solid #000; */
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 3%;
  right: 3%;
  z-index: 9999;

  border-radius: 50%;
  font-size: 1.5rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.541);
  background-color: #f11a7b44;
  transition: 0.6s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-house:hover {
  transform: scale(1.1);
}

/*? header section start */
/* #header {
  border: 1px solid #000;
  height: 120vh;
  width: 100%;
} */

.logo-div {
  /* border: 1px solid #000; */
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-div img {
  /* border: 1px solid #000; */
  width: 6vw;
}

.logo-div h1 {
  /* border: 1px solid #000; */
  font-size: 6vw;
  font-weight: 400;
  margin-left: 3vw;
}

nav {
  /* border: 1px solid #000; */
  background-color: var(--background);
  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  /* border: 1px solid #000; */
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav ul li a {
  /* border: 1px solid #000; */
  transition: 0.3s;
  position: relative;
}

nav ul li a.active,
nav ul li a:hover {
  /* border: 1px solid #000; */
  color: var(--primary);
}

nav ul li a.active::after,
nav ul li a:hover::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--primary);
  position: absolute;
  bottom: 0;
  left: 0;
}

.card-main-div {
  /* border: 1px solid #000; */
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-main-div .card-div {
  /* border: 1px solid #000; */
  height: 200px;
  width: 180px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* overflow: hidden; */
  transition: 0.6s;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-main-div .card-div:hover {
  transform: scale(1.05);
}

.card-main-div .card-div img {
  /* border: 1px solid #000; */
  width: 85%;
  position: relative;
}

.card-main-div .card-div h3 {
  /* border: 1px solid #000; */
  width: 100%;
  height: 100px;
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.offer-card-main-div {
  /* border: 1px solid #000; */
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.offer-card-div {
  /* border: 1px solid #000; */
  background-color: var(--background);
  width: 360px;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.offer-card-icon-div {
  /* border: 1px solid #000; */
  width: 30%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.offer-card-icon-div i {
  /* border: 1px solid #000; */
  background-color: var(--primary);
  color: white;
  font-size: 40px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition: 0.7s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.offer-card-div:hover .offer-card-icon-div i {
  background-color: var(--heading);
}

.offer-card-text-div {
  /* border: 1px solid #000; */
  width: 70%;
  height: 100%;
  /* padding-left: 30px; */

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.offer-card-text-div h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--heading);
}

.offer-card-text-div h4 {
  font-weight: 300;
  color: var(--heading);
}
/*` header section end */

/*? new-arrivals section start */
#new-arrivals {
  /* border: 1px solid #f00; */
  height: 100%;
  width: 100%;
}

#new-arrivals h1 {
  /* border: 1px solid #000; */
  font-size: 7vw;
  text-align: center;
  font-weight: 500;
  padding-top: 30px;
  position: relative;
  text-decoration-line: underline;
  text-decoration-color: var(--primary);
}

#new-arrivals .arrivals-card-main-div {
  /* border: 1px solid #000; */
  height: auto;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.arrivals-card-div {
  width: 230px;
  height: 431px;
  margin: 30px 50px 30px 50px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.6s;
}

.arrivals-card-div:hover {
  box-shadow: 1px 1px 20px rgb(136, 136, 136);
}

.arrivals-card-div::after {
  content: "Sale";
  width: 200px;
  height: 35px;
  background-color: var(--primary);
  position: absolute;
  transform: rotate(45deg);
  top: 10px;
  right: -70px;
  font-size: 20px;
  box-shadow: 0.5px 0.5px 2px rgb(143, 143, 143);

  display: flex;
  align-items: center;
  justify-content: center;
}

.arrivals-card-div .image-div {
  /* border: 1px solid #000; */
  height: 80%;
  position: relative;
  /* overflow: hidden; */
}

.arrivals-card-div .image-div img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.arrivals-card-div .text-div {
  /* border: 1px solid #000; */
  height: 20%;
  width: 100%;
  padding-left: 20px;
  color: var(--heading);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-div h3 {
  /* border: 1px solid #000; */
  font-weight: 300;
  color: var(--heading);
}

.text-div h4 {
  /* border: 1px solid #000; */
  font-size: 15px;
  font-weight: 300;
  color: var(--heading);
}

.text-div span {
  /* border: 1px solid #000; */
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-div span p {
  color: var(--primary);
}
/*` new-arrivals section end */
/*? Collection section start */

#Collection {
  /* border: 1px solid #000; */
  height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.collection-left-div {
  /* border: 1px solid #f00; */
  width: 50%;
  height: 100%;
}

.collection-left-div .image1 {
  background-image: url(../images/watch.png);
  background-position: center;
  background-size: cover;
  /* border: 1px solid #000; */
  height: 50%;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.collection-left-div .image1::after {
  content: "Watches Collection";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.671);
  color: white;
  font-size: 70px;
  font-weight: 300;
  opacity: 0%;
  transition: 0.9s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.collection-left-div .image1:hover:after {
  opacity: 100%;
}

.collection-left-div .image2 {
  /* border: 1px solid #000; */
  background-image: url(../images/bag.webp);
  background-position: center;
  background-size: cover;
  height: 50%;
  width: 100%;
}

.collection-left-div .image2::after {
  content: "Bags & Accessories";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.671);
  color: white;
  font-size: 70px;
  font-weight: 300;
  opacity: 0%;
  transition: 0.9s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.collection-left-div .image2:hover::after {
  opacity: 100%;
}

.collection-right-div {
  /* border: 1px solid #000; */
  width: 50%;
  height: 100%;
}

.sub-collection {
  background-image: url(../images/beauty.webp);
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
}

.sub-collection::after {
  content: "Beauty & Fragrances";
  width: 100%;
  height: 100%;
  font-size: 70px;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.671);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0%;
  transition: 0.9s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-collection:hover:after {
  opacity: 100%;
}
/*` Collection section end */
/*? subscription section start */

#subscription {
  background-image: url(../images/subscribe-background.webp);
  background-position: center;
  background-size: cover;
  /* border: 1px solid #000; */
  height: 70vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

#subscription h1 {
  /* border: 1px solid #000; */
  font-size: 50px;
  font-weight: 500;
  color: white;
}

.form-box {
  /* border: 1px solid #000; */
  border-radius: 20px;
  position: relative;
  width: 400px;
  height: 350px;
  background-color: rgb(131, 18, 109);
  background-image: linear-gradient(0deg, rgb(211, 46, 100), rgb(131, 18, 109));
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputbox {
  position: relative;
  margin: 30px 0px;
  width: 310px;
  border-bottom: 2px solid white;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: white;
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
}

input:focus ~ label,
input:valid ~ label {
  top: -5px;
}

.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: white;
}

.inputbox i {
  position: absolute;
  right: 8px;
  color: white;
  font-size: 1.2em;
  top: 20px;
}

form div button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 400;
  transition: 0.6s;
}

form div button:hover {
  background-color: var(--primary);
  color: white;
}
/*` subscription section end */

/*? footer section start */

#footer {
  /* border: 1px solid #000; */
  background-color: var(--background);
  height: 35vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#footer .lgo-description {
  /* border: 1px solid #000; */
  height: 100%;
  width: 30%;
  padding: 5px 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#footer .lgo-description img {
  /* border: 1px solid #000; */
  width: 90px;
}

#footer .lgo-description p {
  color: var(--heading);
  text-align: left;
  font-size: 14px;
  font-weight: 200;
  padding-left: 10px;
}

.footer-right-div {
  /* border: 1px solid #000; */
  width: 70%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer-right-div ul {
  /* border: 1px solid #000; */
  width: 300px;
  height: 80%;
  list-style: none;
  padding-left: 50px;

  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
}

.footer-right-div ul h3 {
  color: var(--heading);
  font-size: 20px;
  font-weight: 400;
}

.footer-right-div ul li i {
  /* border: 1px solid #000; */
  padding-right: 20px;
  font-size: 20px;
  color: var(--heading);
  transition: 0.6s;
}

.footer-right-div ul li a {
  /* border: 1px solid #000; */
  width: 100px;
  height: 100px;
  font-size: 15px;
  font-weight: 200;
  color: var(--heading);
  transition: 0.6s;
  position: relative;
  overflow: hidden;
}

.footer-right-div ul a:hover::after {
  content: "";
  background-color: var(--primary);
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer-right-div ul a:hover {
  color: var(--primary);
}

/*` footer section end */
/*? copy right section start */

#copy {
  /* border: 1px solid #000; */
  background-color: var(--background);
  height: 25vh;
  width: 100%;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

#copy hr {
  width: 80%;
  height: 1px;
}

#copy p {
  margin-top: 20px;
  color: var(--heading);
  font-weight: 200;
}

.social {
  /* border: 1px solid #000; */
  width: 20%;
  height: 60px;

  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

.social i {
  /* border: 1px solid #000; */
  background-color: #e0e0e0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #999999;
  transition: 0.6s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.social i:hover {
  background-color: var(--primary);
  color: white;
}
/*` copy right section end */
