* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  user-select: none;
}

:root {
  --heading: #33373e;
  --primary: #f11a7b;
  --background: #fff0f5;
}

h1 {
  color: var(--heading);
}

a {
  text-decoration: none;
  color: black;
}
